body{
    padding-top: 60px;
    padding-bottom: 40px;
}

.container{
    width: 90%;
    margin: auto;
}

.fixed-header,
.fixed-footer{
    width: 100%;
    position: fixed;
    background: rgb(45, 45, 45);
    padding: 10px 0;
    color: white;
}

.fixed-footer{
    bottom: 0;
}

.fixed-header{
    top: 0;
}

nav a{
    color: white;
    display: inline-block;
    padding: 7px 25px;
    text-decoration: none;
}

p{
    line-height: 50px;
}
